.grid_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "hlekkur1 hlekkur2 hlekkur3 hlekkur4 hlekkur5"
    "midja midja midja midja midja"
    "midja midja midja vinstri haegri"
    "hlekkur6 hlekkur7 hlekkur8"
}
.h{
    grid-area: haus;
    background: blue;
    text-align: center;
}
.hl1{
    grid-area: hlekkur1;
    background: burlywood;
    height: 2em;
    
}
.hl2{
    grid-area: hlekkur2;
    background: burlywood;
    height: 2em;

}
.hl3{
    grid-area: hlekkur3;
    background: burlywood;
    height: 2em;
}
.hl4{
    grid-area: hlekkur4;
    background: burlywood;
    height: 2em;

}
.hl5{
    grid-area: hlekkur5;
    background: burlywood;
    height: 2em;

}
.hl6{
    grid-area: hlekkur6;
    background: burlywood;
    height: 2em;

}
.hl7{
    grid-area: hlekkur7;
    background: burlywood;
    height: 2em;

}
.hl8{
    grid-area: hlekkur8;
    background: burlywood;
    height: 2em;

}
.vinstri{
    grid-area: vinstri;
    background: brown;
    text-align: center;
}
.midja{
    grid-area: midja;
    background: salmon;
    text-align: center;
    font-family: sans-serif
}
.haegri{
    grid-area: haegri;
    background: brown;
    text-align: center;
}
.fotur{
    grid-area: fotur;
    background: limegreen;
    text-align: center;
    height: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 0.5em;
}